<template>
    <require from="./../../../resources/elements/common/page-header"></require>
    <require from="./../../../resources/elements/common/page-footer"></require>
    <require from="./../../../resources/elements/common/social-network-group"></require>
    <require from="./../../../resources/elements/buyer/buyer-featured-promo"></require>
    <require from="./../../../resources/elements/buyer/buyer-dashboard-hint-item"></require>
    <require from="./../../../resources/elements/buyer/buyer-ad-item"></require>
    <page-header></page-header>
    <div class="main-content buyer-profile-page">
    <div class="container">
      <div class="page-title">
          <a><i class="fa fa-angle-left"></i>Back to Dashboard</a>
      </div>
     
     
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
          <div class="buyer-profile-details-section">
            <div class="buyer-profile-info-subsection">
              <div class="buyer-profile-picture-wrapper">
                <img class="profile-image" src="images/profile_pic3.jpg">
                <img class="profile-checked" src="images/icon_green_tick.png">
              </div>
              <p class="verified-user">Verified User</p>
              <p class="member-since">Member since April 2017</p>
              <a class="report-user">
                Report this user
              </a>
            </div>
            <div class="buyer-profile-contact-form-subsection">
              <a class="btn btn-primary">$400k budget</a>
            </div>
          </div>
          <div class="buyer-profile-connect-section">
            <h4>Connect with May</h4>
            <p class="special-space-centered">Complete these questions to connect. May will fill out the same questions to complete the contact request.</p>
            <p>Do you have pre-approved finance?</p>
            <div class="col centered question-dropdown-item">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Yes<i class="fa fa-angle-down"></i></button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a href=javascript:void(0)>Yes</a></li>
                <li><a href=javascript:void(0)>No</a></li>
              </ul>
            </div>
            <p>Lorem ipsum dolor sit amet?</p>
            <div class="col centered question-dropdown-item">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Yes<i class="fa fa-angle-down"></i></button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><a href=javascript:void(0)>Yes</a></li>
                <li><a href=javascript:void(0)>No</a></li>
              </ul>
            </div>
            <p>Mauris maximus sollicitudin leo?</p>
            <textarea class="request-textfield" placeholder="Type your response..." value=""></textarea>
            <a class="btn-request btn btn-primary">Request connection</a>
          </div>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
          <div class="profile-investment-section">
            <p class="profile-name">May Huang</p>
            <p class="profile-invest-info">I am looking to <span>invest</span> with an <span>owner/occupier</span></p>
            <p class="profile-location-info"><i class="fa fa-map-marker"></i>Based in Surry Hills, Sydney</p>
          </div>
          <div class="property-description-section">
            <p class="desc-title">
              Areas of interest
            </p>
            <p class="desc-content">
              Surry Hills NSW 2010, Darlinghurst NSW 2010, Potts Point NSW 2011, Redfern NSW 2016, Waterloo NSW 2017, Zetland NSW 2017  
            </p>
            <p class="desc-title">
              <br>
              Properties types of interest
            </p>
            <div class="desc-rectangled-section">
              <span>All</span>
              <span>House</span>
              <span>Apartment & Unit</span>
              <span>Townhouse</span>
              <span>Villa</span>
              <span>Land</span>
              <span>Acreage</span>
              <span>Rural</span>
            </div>
          </div>
          <div class="profile-description-section">
            <p class="desc-title">
              A bit about me
            </p>
            <p class="desc-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet purus sed sollicitudin pretium. Cras dictum velit sapien, ut malesuada est tempor id. Pellentesque a nunc luctus, faucibus sapien non, iaculis risus. Etiam nisi sem, pretium vitae malesuada vel, laoreet in enim lorem ipsum dolor sit amet malesuada est.
            </p>
            <p class="desc-title">
              <br>
              Personal interests
            </p>
            <div class="desc-rectangled-section">
              <span>Bars, pubs or clubs</span>
              <span>Business</span>
              <span>Cooking and food</span>
              <span>Creative</span>
              <span>Health & Fitness</span>
              <span>Movies</span>
              <span>Travel</span>
            </div>
          </div>
          <div class="profile-desire-section">
            <p class="desc-title">
              What I'm looking for in a Kohabitator
            </p>
            <p class="desc-content">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce aliquet purus sed sollicitudin pretium. Cras dictum velit sapien, ut malesuada est tempor id. Pellentesque a nunc luctus, faucibus sapien non, iaculis risus. Etiam nisi sem, pretium vitae malesuada vel, laoreet in enim lorem ipsum dolor sit amet malesuada est.
              <br>
              <br>
              Suspendisse potenti. Pellentesque aliquam iaculis turpis, id rhoncus urna sodales non. Praesent vehicula efficitur mauris vitae rutrum. Maecenas nulla urna, interdum eget feugiat vel, bibendum quis odio.
            </p>
          </div>
           
        </div>
        <div class="col-md-3 col-sm-3 col-xs-12">
          <buyer-featured-promo></buyer-featured-promo>
          <buyer-dashboard-hint-item></buyer-dashboard-hint-item>
          <buyer-ad-item></buyer-ad-item>
        </div>
      </div>

      
    </div>
  </div>

    <page-footer></page-footer>
</template>