.supplier-article-item {
    color: $color-nav-blue;
    background-color: $color-profile-card-bg;
    position: relative;
    margin-bottom: 20px;

    .supplier-article-item-bg-img {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .supplier-article-item-wrapper {
        position: relative;
        padding: 0 10px;
        

        .supplier-article-item-content {
            background-color: $color-profile-card-bg;
            padding: 12px 10px;
            width: 100%;
            margin-top: -16px;

            .supplier-article-item-author {

                font-size: 13px;
                font-size: 1.3rem;
                font-weight: 400;
                color: $color-link;
                margin-top: 2px;
                margin-bottom: 10px;
            }

            .supplier-article-item-title {
                font-size: 16px;
                font-size: 1.6rem;
                font-weight: 400;
                margin-bottom: 5px;
            }

            .supplier-article-item-desc {
                font-size: 13px;
                font-size: 1.3rem;

                a {
                    color: $color-link;
                }
            }

            .supplier-article-item-statistics {
                display: table;
                width: calc(100% + 10px);
                margin-bottom: 20px;
                color: $color-white;

                .statistics-item {
                    width: 33.3%;
                    display: table-cell;
                    text-align: center;
                    padding-right: 10px;
                    color: $color-link;

                    .statistics-value {
                        font-size: 24px;
                        font-size: 2.4rem;
                        padding: 4px 0 2px;
                        background-color: $color-white;
                    }

                    .statistics-caption {
                        font-size: 14px;
                        font-size: 1.4rem;
                        padding: 8px 0 3px;
                        background-color: rgba(87, 203, 167, 0.2);
                    }

                }
            }

            .supplier-article-item-actions {
                display: table;
                width: calc(100% + 10px);
                margin-bottom: 13px;

                .supplier-article-item-action {
                    display: table-cell;
                    width: 50%;
                    padding-right: 10px;

                    a {
                        display: block;
                        color: $color-white;
                        font-weight: 300;
                        padding: 10px 0;

                        i {
                            margin-right: 5px;
                        }
                    }
                }
                    
            }

        }
    }
}