.supplier-articles-block {
    margin-bottom: 30px;
    background-color: $color-sub-bg;
    padding: 20px 20px 16px;

    h3 {
        font-size: 20px;
        font-size: 2rem;
        margin-bottom: 12px;
        margin-top: 0;
    }

    p {
        font-size: 14px;
        font-size: 1.4rem;
    }
}