.contact-form-block {
    padding: 20px;
    margin-bottom: 30px;
    text-align: center;
    background-color: $color-sub-bg;

    h4 {
        font-size: 20px;
        font-size: 2rem;
        margin: 0 0 20px;
    }

    
}

.contact-form-elements {
    input, textarea, button {
        margin-bottom: 20px;
        font-size: 14px;
        font-size: 1.4rem;
        padding: 10px 12px 10px 17px; 
    }

    .value-mandatory {
        position: relative;

        div {
            position: absolute;
            left: 0;
            top: 0;
            width: 18px;
            bottom: 0;
            color: $color-link;
            padding: 7px 0;
            font-size: 18px;
            font-size: 1.8rem;
            z-index: 10;
            text-align: right;       
        }
        
        &:after {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            background-color: red;  
        }
    }

    textarea {
        min-height: 80px;
        margin-bottom: 0;
    }
    
    .btn {
        width: 100%;
        margin-bottom: 0;
        margin-top: -6px;
        font-size: 18px;
        font-size: 1.8rem;

        i {
            padding-right: 8px;
        }
    }
}