.supplier-social-networks {
    display: inline-block;
    text-align: center;

    .supplier-social-network {
        width: 40px;
        height: 40px;
        color: $color-link;
        background-color: $color-sub-bg;
        border-color: rgba(11, 50, 75, 0.2);
        border-width: 1px;
        border-style: solid;
        display: inline-block;
        margin: 14px 5px;
        
        i {
            font-size: 16px;
            font-size: 1.6rem;
            padding-top: 11px;
        }

        &:hover, &:focus {
            border-color: rgba(11, 50, 75, 0.5);
        }
        

    }
}