.buyer-sticky-card-item {
    
    padding: 30px 16px 0px 16px;
    text-align: center;
    max-width: 166px;
    max-height: 358px;
    background-color: $color-white;

    .buyer-card {

        display: block;

        h4 {

            display: block;
            margin-top: 14.83px;
            margin-bottom: 10px;
            font-size: 2rem;
            line-height: 2.6rem;
            font-weight: 500;
            color: $color-register-bg;
            -webkit-font-smoothing: antialiased;

        }

        label {

            display: block;
            margin-bottom: 11px;
            font-size: 1.4rem;
            line-height: 2rem;
            font-weight: 400;
            color: $color-link;
            -webkit-font-smoothing: antialiased;

        }

        a {

            color: $color-register-bg;

        }

        .profile-section {
            
            position: relative;

            .img-profile {

                border-radius: 50%;
                max-width: 100px;
                width: 100%;

            }
            span {

                position: absolute;
                display: block;
                background-image: url('/images/tick_image.png');
                width: 20px;
                height: 20px;
                background-size: contain;
                right: 30%;
                bottom: 0;

            }
            
        }

        .space-right {

            margin-right: 5px;

        }

        .btn-budget {

            display: block;
            margin-top: 21px;
            padding: 6px 0px;
            width: 100%;
            max-width: 166px;
            font-size: 20px;
            font-weight: 300;
            border-radius: 0;
            color: $color-white;
            background-color: $color-link;
            -webkit-font-smoothing: antialiased;

        }
    }
}