.buyer-ad-item {

    margin-bottom: 30px;
    padding: 7px;
    max-width: 26.3rem;
    max-height: 26.4rem;
    height: 100%;
    background-color: $color-white;

    .ad-content {

        img {

            width: 100%;
            
        }
    } 
   
}