<template>
  <div class="main-content intro-screen">
    <div class="container-fluid">
      <div class='split-pane col-xs-12 col-sm-6 left-side'>
        <div>
          <div class='text-content'>
            <div class="row">
              <div class="login"><a href="#">Log in</a></div>
            </div>
            <div class="row">
              <div class="title">
                  <label>this is </label>
              </div>          
            </div>
          </div>
        </div>
      </div>
      <div class='split-pane col-xs-12 col-sm-6 right-side'>
        <!--<div>
          <div class="right-side">
            <figure>
              <img src="/images/intro_right1.png">
              <img src="/images/intro_right2.png">
              <img src="/images/intro_right3.png">
            </figure>
          </div>-->
          <div class='text-content'>
            <div class="row">
              <div class="signup"><a href="#">Sign up</a></div>
            </div>
            <div class="row">
              <div class="title">
                  <label><img class="logo-h"></label>
              </div>          
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>