<template>
  <div class="main-content register-social">
    <div class="container">
      <div class="logo"></div>
      
      <div class="row">
        <div class="col-md-offset-3 col-md-6 col-sm-offset-2 col-sm-8 col-xs-12">
          <h3>Sign up with your email address</h3>
          <input type="text" class="input-value" placeholder="Email" />
          <input type="text" class="input-value" placeholder="Confirm email" />
          <input type="text" class="input-value" placeholder="Password" />
          <p class="note-term-of-policy">By clicking on Sign up, you agree to <a href="#">Kohab's terms and conditions</a> and <a href="#">privacy policy</a></p>
          <button class="btn-signup">Sign up</button>
          <p>Already have an account? <a href="#">Log in</a></p>
        </div>
      </div>
    </div>
  </div>
</template>