<template>
  <require from="./../../resources/elements/common/page-header"></require>
  <require from="./../../resources/elements/common/page-footer"></require>
  <require from="./../../resources/elements/common/testimonial"></require>

  <div class="main-content">
    <div class="supplier-hero">
      <img class="logo-img" src="/images/logo.svg">
      <div class="container">
        <h1>List your properties with Kohab</h1>
        <span class="caption-bar"></span>
        <p class="hero-content">Showcase and sell your properties to thousands of potential new buyers lorem ipsum dolor sit amet conseceteur adipsling</p>
      </div>
    </div>
    <div class="supplier-article-block developer-landing-block">
      <div class="container">
        <div class="flow-chart flow-chart-horizontal">
          <div class="flow-chart-item" style="padding-top: 44px">
            <img src="/images/supplier_icon_chart.png">
            <p>Provide information to buyers and sellers</p>
          </div>
          <div class="flow-chart-connection">
            <span></span>
          </div>
          <div class="flow-chart-item" style="padding-top: 31px">
            <img src="/images/supplier_icon_globe.png">
            <p>25 cities around the globe</p>
          </div>
          <div class="flow-chart-connection">
            <span></span>
          </div>
          <div class="flow-chart-item" style="padding-top: 40px">
            <img src="/images/supplier_icon_communicate.png">
            <p>Reach thousands of new customers</p>
          </div>
          
        </div>
        <div class="supplier-article-content">
          <h2>Start selling with Kohab today</h2>
          <div class="developer-article-block">
            <div class="row">
              <div class="col-md-offet-1 col-md-7 col-sm-offset-1 col-sm-6 col-xs-offset-1 col-xs-10">
                <div class="supplier-article-content">
                  
                  <div class="supplier-article-media-wrapper">
                    <img src="/images/supplier_video_landing.jpg">
                  </div>
                  <div class="supplier-article-description">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget molestie elit. Cras nec enim in felis eleifend mollis sit amet in lorem. Etiam eget lorem nec quam faucibus finibus a a turpis. Sed consequat ex urna, in facilisis eros interdum sit amet.</p>
                    <p>Etiam id ipsum est. Sed sed molestie est. <a>Vestibulum imperdiet nulla</a> ac ipsum fringilla, vitae faucibus lacus rutrum. In mattis fringilla viverra. </p>
                    <p>Nullam fringilla massa et euismod vehicula. Nullam egestas maximus mauris id lara. Eripuit nominavi his eu, his oblique officiis mediocritatem te. At sed suas nihil vulputate, minim sonet at quo. Hinc facilisi partiendo cu mea, dicat recusabo atomorum his in. </p>
                    
                    <ul>
                      <li>Eu usu case iisque habemus, ex diam accusamus principes qui, vix at dissentias</li>
                      <li>Rebum doctus nec ut. Ei cum quas magna eripuit </li>
                      <li>Oblique virtute similique mea in, no mandamus urbanitas suscipit constituam</li>
                    </ul>
                    
                    <p>Erant percipit mei an. Mea eu sensibus delicata, stet insolens atomorum ut vis. Pro iudico imperdiet eu, <a>ut possim impedit vix</a>. a vix partem pertinacia, usu ex affert euismod argumentum. Pri ea feugiat lucilius omittantur. Cu rebum vulputate duo. Cum errem tollit facete in. Lorem ipsum dolor sit amet, <a>consectetur adipiscing elit</a>. Sed eget molestie elit. Cras nec enim in felis eleifend mollis sit amet in lorem.</p>
                    
                  </div>
                  
                </div>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-12 col-xs-10">
                <testimonial users-role="Developer"></testimonial>
                
              </div>
              <div class="supplier-article-action">
                <button type="button" class="btn btn-primary supplier-article-create-profile">Start creating your professional profile</button>
                <p>
                  Already have a professional account? <a href="#">Log in</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <page-footer></page-footer>
</template>