<template>
  <div class="main-content register-page">
    <div class=container-fluid>
    <div class="container">
      <div class="row">
        <div class="logo"></div>
      </div>
      <div class="row">
        <label>I am looking to:</label>
        <div class="row">
          <div class="col col-sm-8 col-md-6 centered">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Please select<i class="fa fa-angle-down"></i></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a href=javascript:void(0)>Invest</a></li>
            </ul>
          </div>
        </div>
        <label>With an:</label>
        <div class="row">
          <div class="col col-sm-8 col-md-6 centered">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Please select<i class="fa fa-angle-down"></i></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a href=javascript:void(0)>Invest</a></li>
            </ul>
          </div>
        </div>
        <label>My total budget is:</label>
        <div class="row">
          <div class="col col-sm-8 col-md-6 centered">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Select a range<i class="fa fa-angle-down"></i></button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <li><a href=javascript:void(0)>Invest</a></li>
            </ul>
          </div>
        </div>
        <button class="submit"><img class="small-logo"/>Sign up to kohab</button>
        <p>Already have an account? <span>Log in</span></p>
      </div>
    </div>
  </div>
  </div>
</template>