// Customized Contents
$color-main-bg: #F0F0F0;
$color-sub-bg: #FFF;
$color-white: #FFF;
$color-border: #DCDCDC;
$color-nav-blue: #0B324B;
$color-nav-blue-hover: #466375;
$color-link: #2EB68C;
$color-lightgreen: #57CBA7;
$color-lightgray: #E2E2E2;
$color-orange: #FF8E52;
$color-dropdown-normal: #134559;

$color-transparent-border: rgba(11, 50, 75, 0.2);
$color-contact-offline: #D0021B;

//buyers Page
$color-register-bg: #0C334C;
$color-register-widget-bg: #21435A;
$color-facebook: #3A5896;
$color-google-plus: #D34836;
$color-profile-card-bg: #F9F9F9;

// color palette
// primary
$color-primary-neutral: #403075;
$color-primary-lightest: #887caf;
// secondary
$color-secondary-neutral: #582a72;
$color-secondary-lighter: #764b8e;
$color-secondary-lightest: #9775aa;
// tertiary
$color-tertiary-neutral: #582a72;
$color-tertiary-lighter: #764b8e;
$color-tertiary-lightest: #9775aa;