<template>
  <require from="./../../resources/elements/common/page-header"></require>
  <require from="./../../resources/elements/common/page-footer"></require>

  <page-header></page-header>
  <div class="main-content sitemap-page">
    <div class="container">
      <a href="suppliers">Supplier List</a>
      <a href="supplier/1">Supplier Info</a>
      <a href="supplier">Supplier Landing Page</a>
      <a href="supplier/register">Supplier Register</a>
      <a href="supplier/dashboard">Supplier Articles</a>
      <a href="supplier/post/1">Supplier Article</a>
      <a href="supplier/posts/new">Create Supplier Article</a>
      <a href="developer">Developer Landing Page</a>
      <a href="developer/register">Developer Register</a>
      <a href="developer/profile">Developer Profile</a>
      <a href="buyers/register">Buyer Register</a>
      <a href="buyers/register_social">Buyer Register Social</a>
      <a href="buyers/verify">Buyer Register Verification</a>
      <a href="buyers/success">Buyer Register Success</a>
      <a href="buyers/profile/new">Create Buyer Profile</a>
      <a href="buyers/intro">Buyer Intro</a>
      <a href="buyers/">Buyer Dashboard</a>
      <a href="buyers/view_property">View Property</a>
      <a href="buyers/profile">Buyer Profile Page</a>
      <a href="buyers/profile/edit">Profile Edit Page</a>
      <a href="buyers/contact">Contact Page</a>
      <a href="buyers/property/maplist">Property Listings Map</a>
    </div>
  </div>
  <page-footer></page-footer>
</template>